{% extends 'GalleryBundle:Main:base.html.twig' %}

{% block body %}
{% for album in albums %}
    <div>
        <span>
            <a href="{{ path('album_show', { 'id': album.id }) }}">
            {{ album.name }}
            </a>
        </span>
    </div>
{% endfor %}
{% endblock %}
