<html>
<head>
    <title>GalleryApp</title>
    <meta name="description" content="FeedApp">
    <script src="{{ asset('/app/dist/app.min.js') }}"></script>

</head>

<body>
<header data-role="header"></header>

<div id="main" class="container-fluid" data-role="content">


</div>
</body>
</html>