<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<div id="dish-select-component-canvas">
    {% for image in pagination %}
        <span>{{ image.name }}</span><br>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>

<script>
    $(function () {
        $('#dish-select-component-canvas').on('click', "div.pagination a", function (e) {
            $.ajax({
                type: "GET",
                url: $(this).attr('href'),
            })
                    .done(function (msg) {
                        $('body').html(msg);
                    });
            e.preventDefault();
        });
    });
</script>
</body>

